<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="打开百度">
    <test verbose="2" name="检查网页标题">
        <classes>
            <class name="com.example.reportng.TestOpenBaidu">
            <methods>
                <include name="testOpenBaidu"/>
                <include name="testOpenHouse"/>
            </methods>
            </class>
            <class name="com.example.reportng.TestFactory">
                <methods>
                    <include name="createInstances"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <!--testng的XML配置文件中添加这些内容-->
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="com.example.reportng.ScreenshotListener"/>
    </listeners>
</suite>